*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("./assets/home/background-home-desktop.jpg");
    font-family: "Barlow", sans-serif;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(201, 219, 224);
}

/* Desktop View  */

.header {
    position: relative;
    display: flex;
    margin-top: 30px;
    height: 100px;
  }
  
  .logo-container {
    margin: 25px;
    position: relative;
  }
  
  .logo-container img {
    margin: 0 30px;
  }
  
  .logo-container::after {
    content: "";
    width: 50vw;
    height: 3px;
    background-color: #333;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
  }
  
  .logo-container:hover::after {
    transform: translateY(0);
  }
  
  .nav__links {
    position: absolute;
    right: 0;
    height: 100%;
    padding: 0 8rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: hsl(0 0% 100% /0.1);
    backdrop-filter: blur(1.5rem);
    gap: clamp(1rem, 2vw + 1rem, 4rem);
    font-size: clamp(1rem, 1vw + 1rem, 17px);
    list-style: none;
  }
  
  .nav__link {
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: whitesmoke;
    text-decoration: none;
    transition: border-bottom 0.3s ease-in-out;
  }
  
  .nav__link span {
    margin-right: 4px;
    font-weight: 600;
  }
  
  .navbar .nav__link:hover {
    border-bottom: 4px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 2.3rem;
  }
  
  .link--active {
    border-bottom: 4px solid white;
    padding-bottom: 2.3rem;
  }
  
  .mobile-nav-toggle {
    display: none;
  }
  /* Header */

  /* Section--1 */

  section{
    display: none;
    font-family: "Belleza", serif;
    height: auto;

}

.section--1 {
    padding: 5% 10%;
    display: block;
  }
  .grid {
    margin-top: 60%;
  }

  .grid-container {
    height: 735px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    }

    .grid--1 {
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        }

        h3 {
            display: block;
            font-size: 1.17em;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
            }
            .space {
                margin: 5% 0;
                color: white;
                font-weight: 300;
                font-size: clamp(1rem, 5vw + 4rem, 10rem);
                }
                p {
                    text-transform: capitalize;
                    line-height: 1.5;
                    font-size: clamp(1rem, 1.5vw + 1rem, 20px);
                    text-transform: lowercase;
                    }
    
    .grid--2 {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .explore {
        height: 272px;
        width: 272px;
        border-radius: 50%;
        border: 0;
        font-size: clamp(1rem, 2vw + 1rem, 30px);
        text-transform: uppercase;
        cursor: pointer;
        position: relative;
        transition: all 0.7s;
      }
      
      .explore::after {
        content: "";
        position: absolute;
        width: 25rem;
        height: 25rem;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: rgba(255, 255, 255, 0.7);
        border-radius: 50%;
        opacity: 0;
        transition: all 0.5s;
      }
      
      .explore:hover::after {
        opacity: 1;
      }
/* Section -1 */


/* Section-2 */


.section--2 {
    padding: 5% 10%;
  }
  .main {
    font-size: clamp(1rem, 1.5vw + 1rem, 20px);
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  .main span {
    font-size: 25px;
    letter-spacing: 2px;
    margin-right: 10px;
    color: grey;
  }
  
  .container {
    height: 794px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  .column {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 734px;
  }
  
  .destination {
    width: 80%;
  }
  
  .nav {
    height: 32px;
  }
  
  .nav__item {
    list-style: none;
  }
  
  .nav .nav__link:hover {
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 14%;
  }
  
  .destination__nav--active {
    color: grey;
    border-bottom: 3px solid white;
    padding-bottom: 14%;
  }
  
  .destination nav ul {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }
  
  .destination__nav {
    display: none;
    font-size: 18px;
  }
  
  .destination--moon {
    display: block;
  }
  
  .destination__nav h1 {
    color: white;
    margin: 7% 0;
    font-size: 7rem;
    font-weight: 600;
  }
  
  .destination-line {
    margin: 7% 0;
  }
  
  .average {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    text-transform: uppercase;
  }
  
  .average p {
    text-transform: uppercase;
    font-size: 12px;
  }
  
  .average p span {
    color: white;
    font-size: 2rem;
  }
  
  /* section--2 */

  

